/* some style */

html {
  font-family : sans;
}

body {
  background-color : #efe;
  font-family: "Bad Script";
  font-size: 20px
}

.button {
background-color: #4CAF50;
border: 1px solid black;
color: white;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 100%;
margin: 2em;
cursor: pointer;
border-radius: 8px;
}

.button2 {
background-color: #CCFFFF;
border: 1px solid black;
color: black;
border-radius: 8px;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 100%;
margin: 2em;
cursor: pointer;
}

.button3 {
background-color: pink;
border:1px solid green;
border-radius: 8px;
color: black;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 100%;
margin: 2em;
cursor: pointer;
border-radius: 8px;
}

.button4 {
background-color: #FF9900;
border: 1px solid black;
color: white;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 100%;
margin: 2em;
cursor: pointer;
border-radius: 8px;
}

#the-text {
font-size: 150%;
color: black;
}

#list-head-text {
  font-size: 20x;
  color: black;
  font-family: "Comic Neue";
  text-align: center;
  }

#list-text {
  font-size: 20x;
  color: black;
  font-family: "Bad Script";
  text-align: left;
  }

.columnr {
  float: right;
  width: 30%;
}
.columnl {
  float: left;
  width: 70%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.slidecontainer {
  width: 100%;
  background: yellow;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: yellow;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}